#main-layout-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: pink;
  background-image: url("https://images.pond5.com/planet-cartoon-space-animation-background-footage-090107031_prevstill.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
