#main-layout-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: pink;
  background-image: url("../../../assets/images/39e0f2cd8f3c81ae3da5dc0692727199.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
